@model Firma.PortalWWW.Models.Rider

@{
    ViewData["Title"] = "Mój profil";
    var imageUrl = $"https://localhost:7074/api/images/rider/{Model.Id}";
}

<section class="section-padding">
    <div class="container">
        <div class="text-center mb-5">
            <h1 class="section-title">Mój profil</h1>
            <p class="section-subtitle">Zobacz dane przypisane do Twojego konta jeźdźca</p>
        </div>

        <div class="text-white p-4 border border-primary rounded-4 shadow-sm mx-auto text-center" style="max-width: 500px;">
            <img src="@imageUrl"
                 onerror="this.onerror=null; this.src='/content/images/no-image.jpg';"
                 alt="Zdjęcie jeźdźca"
                 class="rounded-circle shadow-sm mb-4"
                 style="width: 150px; height: 150px; object-fit: cover;" />

            <div class="text-start">
                <p><strong>Imię:</strong> @Model.FirstName</p>
                <p><strong>Nazwisko:</strong> @Model.LastName</p>
                <p><strong>Numer telefonu:</strong> @Model.PhoneNumber</p>
                <p><strong>Wiek:</strong> @Model.Age</p>
                <p><strong>Poziom zaawansowania:</strong> @Model.SkillLevel</p>
                <p><strong>Waga:</strong> @Model.Weight kg</p>
            </div>
            <div class="d-flex justify-content-center gap-3 mt-4">
                <a class="btn btn-primary" asp-controller="Rider" asp-action="Edit">Edytuj profil</a>
                <a class="btn btn-primary" asp-controller="BookRide" asp-action="MyRides">Moje jazdy</a>
            </div>
        </div>
    </div>
</section>
